.header {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #ececec;
}

.header .container {
  display: flex;
  align-items: center;
}

.header .logo {
  margin-right: 93px;
}

.logo {
  font-family: $secondary-font;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
}

.header .contacts-header {
  margin-left: auto;
}

.address {
  display: flex;
}

.navigation-list-item:not(:last-child),
.contacts-header-item:not(:last-child) {
  margin-right: 50px;
}

.navigation {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
}

.navigation-text {
  color: $main-color;
  letter-spacing: 0.03em;
  display: block;
  position: relative;
  transition: color 250ms $timing-function;
}

.navigation-text::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -32px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: $color-accent;
  transform: scaleX(0);
  /* opacity: 0; */
}

.navigation-text.current {
  color: $color-accent;
}

.navigation-text.current::after {
  transform: scaleX(1);
  /* opacity: 1; */
}

.navigation-text:hover,
.navigation-text:focus,
.email-header:focus,
.email-header:hover,
.phone-header:focus,
.phone-header:hover {
  color: $color-accent;
}

.email-header,
.phone-header {
  transition: color 250ms $timing-function;
}

.email-header,
.phone-header {
  font-family: $main-font;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: $link-color;
  align-items: center;
  display: flex;
}

.navigation-text {
  font-family: $main-font;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: $link-color;
  align-items: center;
  display: block;
  position: relative;
  transition: color 250ms $timing-function;
}

.list {
  list-style-type: none;
}

.contacts-header-item .link:hover,
.contacts-header-item .link:focus {
  color: $color-accent;
}

/*.contacts-header-item:hover .header-tel-icon,
 .contacts-header-item:focus .header-tel-icon,
 .contacts-header-item:hover .header-mail-icon,
 .contacts-header-item:focus .header-mail-icon{
   fill:currentColor;
 }*/

.header-tel-icon,
.header-mail-icon {
  fill: currentColor;
  transition: fill 250ms $timing-function;
}

.current {
  color: #2196f3;
}

.header-mail-icon {
  margin-right: 10px;
}

.header-tel-icon {
  margin-right: 10px;
}
